@media(min-width: 1120px) {
    .index-container {
        padding-left: 25px;
        padding-right: 25px;
    }
  }
html::before, html::after{
    display: none !important; /**tell autoprefixer to STFU **/
}
.knob {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    justify-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.index-container {
    min-width: 1600px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 50px auto 75vh;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}

.list-component button {
  margin-right: 2px;
}

.btn-outline-primary:not([disabled]):not(.disabled).active {
  color: white;
  box-shadow: none;
}

.btn-outline-primary:not([disabled]):not(.disabled).active:hover {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .5)
}

.timeline-container {
    height: auto;
    border-style: solid;
    border-image: linear-gradient(to right, #b766ad 0%,#945ebe 60%, #8d64bb 61%, #55419c 100%);
    border-image-slice: 1;
    overflow-y: hidden;
    margin-top: 0;
    margin-bottom: 1em;
}
@media(max-width: 768px) {
    .index-container {
        grid-template-rows: 50px auto 1fr 800px;
    }
  .knob {
    max-width: 400px;
    max-height: 400px;
    margin-top: 1em;
  }
    .end-container{
        text-align: center;
        grid-column: 1 / 12;
        grid-row: 1 / 2;
    }
    .knob {
        grid-column: 1 / 12;
        grid-row: 2 / 3;
    }
    .countdown-container {
        display: none;
    }
    .timeline-container {
        grid-column: 1 / 12;
        grid-row: 4 / 5;
        height: 100%;
    }
    .schedule-container {
        grid-column: 1 / 12;
        grid-row: 3 / 4;
    }
}
@media(min-width: 768px) {
    .end-container{
        text-align: center;
        grid-column: 4 / 12;
        grid-row: 1 / 2;
    }
    .knob {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
    .countdown-container {
        grid-column: 4 / 12;
        grid-row: 2 / 3;
    }
    .timeline-container {
        grid-column: 8 / 12;
        grid-row: 3 / 4;
    }
    .schedule-container {
        grid-column: 1 / 8;
        grid-row: 3 / 4;
    }
}
@media(min-width: 992px) {
    .end-container{
        text-align: center;
        grid-column: 4 / 11;
        grid-row: 1 / 2;
    }
    .knob {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    .countdown-container {
        grid-column: 4 / 11;
        grid-row: 2 / 3;
    }
    .timeline-container {
        grid-column: 8 / 11;
        grid-row: 3 / 4;
        margin-top: 2.7em;
    }
    .schedule-container {
        grid-row: 3 / 4;
        grid-column: 2 / 8;
    }
}
