.countdown {
    display: flex;
    border-top: 3px solid #55419c;
    border-bottom: 3px solid #55419c;
    justify-content: space-evenly;
  }

@media(min-width: 1120px) {
  .large-container {
      margin-left: 25px;
      margin-right: 25px;
  }
}
  .block {
      display: flex;
      flex-direction: column;
      padding: 20px;
  }
  
  .block:first-child {
      padding-left: 0;
  }

  .block:last-child {
      padding-right: 0;
  }

  .text {
      color: #945ebe;
      font-size: 25px;
      font-family: 'Futura Std';
      font-weight: 40;
      margin-top:10px;
      margin-bottom: 10px;
      text-align: center;
  }
  
  .digit {
      color: #55419c;
      font-size: 5em;
      font-weight: 100;
      font-family: 'Futura-StdHeavy';
      margin: 10px;
      text-align: center;
  }
  .knob {
      max-width: 250px;
      max-height: 250px;
      margin-top: 4em;
      width: 100%;
      height: 100%;
  }
  .m-r-2 {
      margin-right: 20px;
  }
  @media(max-width: 768px) {
      .countdown-container{
          display: none;
      }
      .knob {
        max-width: 350px;
        max-height: 350px;
        margin-top: 1em;
    }
  }