.schedule-grid-container {
    display: flex;
    height: 100%;
}
.list-component {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}
.detail-component {
    padding-left: 20px;
    margin-top: 2.7em;
    flex-basis: 50%;
    position: relative;
    height:auto;
}
.card {
  border-radius: 0;
}
#description {
  margin-bottom: 30px;
  border-width: 2px;
}

.card-description p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-description p {
  color: #525558; /* Muted text */
  font-size: 0.9rem;
}

.card-description p:last-child {
    margin-bottom: 0;
}

.detail-component .card-title {
    margin-left: 0.1em;
}
/* Overwrite bootstrap */
.card-title {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
@media(max-width: 768px) {
    #description {
        margin-bottom: 0;
    }
    .card-description p {
      display: none;
    }
}
@media(max-width:992px){
    .list-component{
        flex-basis: 100%;
    }
}

.nav {
    display: -webkit-inline-box !important;
}

.list-component .nav{
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}
.list-container {
    flex-direction: column;
    overflow-y: auto;
    flex-wrap: nowrap;
    border-bottom: 2px solid rgba(0,0,0,0.25);
}
.list-container dt{
    font-size: 1.2rem;
    top: -1px;
    position: sticky;
    z-index: 2;
    padding-left: 15px;
    background-color: #e9e9e9;
}
.list-card {
    width: 100%;
    border-left: 1px solid rgba(0,0,0,0.25) !important;
}

.list-body > .content {
    width: 100%;
}

.list-card:hover {
    cursor: pointer;
    opacity: 0.75;
    background-color: #97c9ff !important;
}
.card-right p, .card-right hr {
    margin-bottom: 0.5rem;
}
.list-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-right{
    margin-left: 15px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}
/* Time of event on card */
.card-right p {
    font-size: 1rem;
    align-self: flex-end;
}
.content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
  transition-delay: 300ms;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
